.homePhoto {
  background-image: url("https://pbs.twimg.com/media/DnuJ_3TUYAAtswL.jpg:large");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin-bottom: 100px;
  .homeColor {
    color: black !important;
  }
}
